.message-frame {
    margin: 25px 600px 50px 600px;
    background-color: white;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.message-right, .message-left {
    color: white;
    padding: 7px 10px;
    margin: 5px 10px;
    border-radius: 20px;
}

.message-right {
    align-self: flex-end;
    background-color: blue;
}

.message-left {
    align-self: flex-start;
    background-color: grey;
}

.message-form {
    position: fixed;
    bottom: 0;
    width: calc(100% - 1220px);
    margin: 0 600px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: grey;
}


.message-input {
    width: 100%;
    height: 25px;
    resize: none;
}

.receiver-name {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image,
.profile-icon {
    font-size: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.receiver-name h2 {
    margin: 0;
}
