.posts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

.posts-container a {
    text-decoration: none;
    color: black;
}

.post {
    display: flex;
    gap: 10px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 80%;
    max-width: 500px;
}

.post h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.post p {
    margin: 0 0 10px;
}

.post img {
    max-width: 100%;
    height: auto;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    text-decoration: underline;
}

.create-post-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.create-post {
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: gray;
}

.post-votes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vote-icon {
    font-size: 20px;
}

.likes {
    margin: 0;
}

.comments-section {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.message-icon {
    font-size: 18px;
    margin-right: 5px;
}

.liked {
    color: red;
}

.post-votes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.info-section {
    width: 50%;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    color:gold;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.activeButton {
    border-bottom: 3px solid mediumturquoise;
}

.image-carousel {
    position: relative;
}

.navigation-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.rating-number {
    margin-right: 10px;
    color: black;
}

.promoted {
    padding: 10px;
    font-weight: bold;
}

.price {
    margin: 0;
}
