.profile-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 50px;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-bio-container {
    display: flex;
    margin-top: 10px;
}

.profile-bio {
    background-color: #fff;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 300px;

}

.profile-info img,
.profile-icon {
    font-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.profile-info p {
    margin: 5px 0;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.message-button:hover {
    background-color: #0056b3;
}
